PORT=3000
RELOAD_INTERVAL=10
SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
ENVIRONMENT=development
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
JWT_SECRET=your-jwt-secret-key
GOOGLE_MAPS_API=
MAIL_USER=
MAIL_PASS=
